.et_header_style_left #et-top-navigation, .et_header_style_split #et-top-navigation {
 padding: 0 !important;
}

#mega-menu-wrap-primary-menu #mega-menu-primary-menu {
  height: 70px;
  line-height: 70px;
}

/** Push menu onto new line **/
#{$wrap} {
    clear: both;
}

#mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-flyout ul.mega-sub-menu {
    z-index: 999;
    position: absolute;
}

#mega-menu-wrap-primary-menu #mega-menu-primary-menu li.mega-menu-flyout.mega-menu-item-has-children > a.mega-menu-link:after, #mega-menu-wrap-primary-menu #mega-menu-primary-menu li.mega-menu-flyout li.mega-menu-item-has-children > a.mega-menu-link:after, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item-has-children > a.mega-menu-link:after {
  content: no-close-quote;

}
#mega-menu-wrap-primary-menu {
    background: #0f1129;
    font-family: "Montserrat", "Open Sans", Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding-bottom: 0px;
}

#mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item {
  height: 70px;
  line-height: 70px;
}

#mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item > a.mega-menu-link{
  height: 70px;
}

#mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-flyout ul.mega-sub-menu {
    z-index: 999;
    position: absolute;
    background: #0f1129;
    height: auto;
}

   #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link {
    display: block;
    background-color: rgb(15, 17, 41);
    color: #fff;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    padding: 0px;;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-transform: none;
    vertical-align: baseline;
}

#mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item {
  height: 35px;
  line-height: 35px;
  width: 110%;
  padding: 0 5%;
}

#mega-menu-wrap-primary-menu #mega-menu-primary-menu a.mega-menu-link .mega-description-group {
    vertical-align: middle;
    display: block;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 600;
}

menu-link .mega-description-group .mega-menu-description {
   font-style: normal;
    font-size: .8em;
    text-transform: none;
    font-weight: 300;
}

#mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item > a.mega-menu-link {
   line-height: 70px;
}


#mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link {
    font-size: 11px;
}
#mega-menu-wrap-primary-menu #mega-menu-primary-menu a.mega-menu-link .mega-description-group .mega-menu-description {
    font-style: normal;
    font-size: 0.8em;
    text-transform: none;
    font-weight: normal;
    color: grey;
}





@media (max-width: 500px) {
#mega-menu-wrap-primary-menu .mega-menu-toggle .mega-toggle-block-1:before {
  content: '\61';
  font-size: 50px;
  color: white;
  font-family: 'ETmodules' !important;
  font-weight: normal;
}
#mega-menu-wrap-primary-menu .mega-menu-toggle{
  height: 70px;
  line-height: 70px;
  display: block;
  width: 100%;
    background: transparent;
  }

#mega-menu-wrap-primary-menu  .mega-menu-toggle.mega-menu-open .mega-toggle-block-1:before {
  content: '\4d';
}



#top-menu-nav {
 display: block;
 float: none;
 width: 100%;
}


#mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-flyout ul.mega-sub-menu {
    z-index: 999;
    background: #0f1129;
    height: auto;
}

#mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link {
    background: #0f1129;
    color: grey;
}

#mega-menu-wrap-primary-menu .mega-menu-toggle.mega-menu-open + #mega-menu-primary-menu {
    height: 100vh;
}


#mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item:first-child { margin-top: 0; }
#mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item {
    margin: 1rem 2rem;
	background: #0f1129;
}

#mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item > a.mega-menu-link {
    font-family: "Montserrat Ultralight", "Open Sans", Arial, sans-serif;
    font-weight: normal;
    font-size: 1rem;
    letter-spacing: 0.2rem;
}

#mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item > a.mega-menu-link:hover {
   color: white;
}

#mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item {
  padding: 0 0 0 5%;
}



#mega-menu-wrap-primary-menu {
 background: transparent;
}

#mega-menu-wrap-primary-menu  .mega-menu-toggle.mega-menu-open {
 background: url(http://leidencollectionexhibition.com/wp-content/uploads/2017/01/Logoh.png);
 background-repeat: no-repeat;
 background-position: 2rem center;
 background-color: #0f1129;
}





}
